PORT=3003
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
S3_BUCKET_MEDIA=enheritage-media-dev
S3_BUCKET_PROCESSED=enheritage-processed-dev
SQS_TRANSCRIPTION_QUEUE_URL=http://localhost:4566/000000000000/enheritage-transcription-dev
LOG_LEVEL=info
NODE_ENV=development
