PORT=8002
SPACY_MODEL=en_core_web_sm
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
S3_BUCKET_MEDIA=enheritage-media-dev
SQS_NER_QUEUE_URL=http://localhost:4566/000000000000/enheritage-ner-dev
SQS_ENRICHMENT_QUEUE_URL=http://localhost:4566/000000000000/enheritage-enrichment-dev
LOG_LEVEL=info
NODE_ENV=development
